
/* #big{
    height:300px;
    width:100px;
    border:1px solid transparent;
    
    margin:0px auto;
    background-color: pink;
} */

body{
background-image:url("pngtree-soft-pastel-floral-design-light-blue-background-picture-image_16257054.jpg");



}
#box{
width:600px;
height:650px;
border:1px solid black;
margin:50px auto;
border-radius:20px;
flex-direction:coloumn;
background-color:;
}
#c1{
height: 200px;
width:200px;
border:1px solid black;
margin: 10px auto;  
border-radius:200px; 
}
#name{
    height:200px;
    width: 500px;
    border:1px solid green;
    margin:80px auto;
    text-align: center;
    font-style:oblique;
    
    /* margin-top: auto; */
}
#social{
    margin-top: auto;
    display:flex;
    justify-content:space-around;
    gap:10px;
    padding-bottom:10px;
    
}
#c1 img{
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius:200px; 
}
#a{
    display:flex;
    justify-content:space-around;
    text-align:center; 
    font-size:oblique;

}




/* #social img{
    width:30px;
    cursor: pointer;
} */
